
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #0B1340;
}
p{
    margin-bottom: 0;
}
body{
    font-family: 'Inter', sans-serif;
    color: #0B1340;
    background-color: rgb(255, 255, 255);
}
.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    height: 100%;
    z-index: 1;
    text-decoration: none;
}
.logo{
    height: 40px;
}
.menu li a{
    text-decoration: none;
}
.menu{
    list-style: none;
    display: flex;
    gap:0.5rem;
    text-decoration: none;
    margin-bottom: 0;
    
}
.menu a{
    display: block;
    padding: 1rem;
    border-radius: 0.5rem;
}
.menu a:hover{
    background-color:#0B1340;
    color: #ffffff;
}

.label_menu , .checkbox{
    display: none;
}
.banner_principal img{
    width: 100%;
    margin-bottom: 40px;
}
.section-imagens{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}
.img{
    width: 378px;
    margin-bottom: 10px;
}
.divs-imagem{
    align-items: center;
    flex: 1 1 200px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}
.divs-imagem a{
    display: flex;
}
.rodape{
    margin-top: 20px;
    padding-top: 20px;
    background-color: #0B1340;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    width: 100%;
}
.rodape p{
    padding: 5px;
}
.img-rodape{
    width: 150px;
    padding-bottom: 5px;
}
.copyright{
    font-weight: 100;
}
.secao-pagina-demeter{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}
.main-pag-contato{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}
#carouselExampleControls{
    align-items: center;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    background-color: #0B1340;
    width: 40px;
    height: 40px;
    
}
.img_pag2_secao{
    width: 400px;
    padding: 20px;
}
.secoes-pag2-texto-imagem{
    display: flex;
    background-color: #f0f0f0;
}.secoes-pag2-texto-imagem p{
    font-weight: 300;
}
.texto_pag2_secao{
    font-size: 20px;
    padding: 20px;
}
.texto_pag2_secao p{
    font-size: 15px;
}
#carouselExampleControls2{
    width: 400px;
}
.plantas_textoeimagem{
    display: flex;
    flex-wrap: wrap;
}
.plantas_expe{
    width: 400px;
    font-size: 15px;
    padding: 20px;
}
.plantas_expe h4{
    font-size: 20px;
}
.plantas_expe p{
    margin-bottom: 8px;
}
.title{
    width: 100%;
}
.imagem-sobrenos{
    width: 100%;
    margin-top: 20px;
}
.texto-pag-sobrenos{
    margin-top: 15px;
}
.texto_h2{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
}
.diferenciais_section{
    background-color: #0B1340;
    padding: 20px;
    color: #ffffff;
    width: 100%;
    margin-top: 30px;
}
.titulo_diferenciais{
   margin-bottom: 15px;
   font-size: 20px;
   font-weight: 600;
}
.div_diferencias_duas_colunas{
    margin-top: 10px;
    display: flex;
}
.div_diferenciais_2{
    margin-left: 182px;
}
.div_svg_diferenciais{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    
}
.section_localizacao_img_texto{
    display: flex;
}
.div_imagem_localizacao{
    width:587px;
    height: 302px;
}
.div_estamos_proximos{
    width: 35%;
    margin-right: 20px;
    background-color: #D9D9D9;
    padding: 10px;
}
.imagem_localizacao{
    width: 100%;
}
.div_estamos_proximos ul{
    margin-left: 15px;
    list-style: none;
}
.div_estamos_proximos li{
    margin-bottom: 10px;
    padding-left: 20px;
}
.entre_em_contato{
    background-color: #D9D9D9;
    width: 100%;
}
.formulario{
    margin: 30px;
    
}
.div_email, .div_nome, .div_mensagem{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    align-items: center;
    text-align: center;
}
.input_email, .input_nome, .textarea_mensagem{
    background-color: #ffffff;
    border: solid 1px #9B9B9B;
    padding: 4px;
    border-radius: 6px;
    width: 100%;
    margin-bottom: 10px;
}
.botao_enviar{
    text-align: center;
    padding: 10px;
    background-color: #0B1340;
    color: #ffffff;
    font-weight: 700;
    cursor: pointer;
}
.botao_enviar:hover{
    background-color: #008f62;
    color: #fff;
}
.titulo_secoes_texto{
    font-size: 18px;
    font-weight: 700;
}
.conteudo_pagina_parceiros{
    max-width: 935px;
    align-items: center;
    margin: 0 auto;
}
.imagem_div_parceiros{
    width: 300px;
}
.div-imagem_e_texto_parceiros{
    margin-bottom: 10px;
}
.imagens_parceiros{
    max-width: 940px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 20px;
}
.titulo_pag_parceiros{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}
.texto_pag_parceiros{
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 20px;
}
.titulo_pag_parceiro_imagens{
    font-size: 18px;
    font-weight: 700;
}
@media(max-width: 940px){
    .conteudo_pagina_parceiros{
        max-width: 620px;
        align-items: center;
        margin: 0 auto;
    }
    .texto_h2{ 
        margin-left: 20px;
    }
    .div_svg_diferenciais{
        margin-left: 20px;
    }
    .menu{
        display: block;
        position: absolute;
        top: 5.2rem;
        left:0;
        background-color: #ffffff;
        color: #0B1340;
        text-align: center;
        width: 100%;
        height: 0;
        z-index: 1;
        visibility: hidden;
        overflow-y: hidden;
        transition: 0.5s;
        
    }
    .menu a{
        padding: 1rem 0;
        margin-inline: 1rem;
        border-bottom: 1px solid rgb(0, 0, 0,0.16);
    }
    .label_menu{
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: #0B1340;
        padding-block: 1rem;
        cursor: pointer;
        font-weight: 700;
    }
    .checkbox:checked ~ .menu{
        height: 285px;
        visibility: visible;
    }
    .secoes-pag2-texto-imagem{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .secoes-pag2-texto-imagem p{
        width: 100%;
        align-items: center;
    }
    .secoes-pag2-texto-imagem h3{
        font-size: 20px;
    }
    .secao-pagina-demeter{
        display: flex;
        align-items: center;
        max-width: 600px;
    }
    .main-pag-contato{
        margin-top: 50px;
        display: flex;
        align-items: center;
        max-width: 600px;
    }
    #carouselExampleControls2{
        width: 100%;
    }
    .plantas_textoeimagem{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .diferenciais_section{
        align-items: center;
        width: 100%;
    }
    .div_diferencias_duas_colunas{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .div_diferenciais_1{
        margin-right: 36px;
    }
    .div_diferenciais_2{
        margin-left: 0;
    }
    .section_localizacao_img_texto{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .div_estamos_proximos{
        width: 100%;
        margin-bottom: 20px;
        margin-right: 0;
    }
    .div_imagem_localizacao{
        width: 100%;
    }
    .entre_em_contato{
        width: 100%;
    }
    main{
        align-items: center;
    }
    .texto_demeter_pag2{
        width: 100%;
        padding-top: 0;
        padding: 20px;
    }
    .texto_pag2_secao{
        padding: 20px;
        width: 100%;
        margin: 0;
    }
    .texto_pag2_secao p{
        margin: 0;
    }
    .img_pag2_secao{
        width: 100%;
    }
    .plantas_expe{
        width: 100%;
        padding-left: 20px;
    }
}
@media(max-width: 400px){
    .secao-pagina-demeter{
        max-width: 400px;
        margin-left: 0;  
    }
    .main-pag-contato{
        max-width: 400px;
        margin-left: 0; 
    }
    .secoes-pag2-texto-imagem{
        width: 100%;
    }
    .texto_pag2_secao{
        width: 100%;
        padding: 20px; 
    }
    .img_pag2_secao{
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;  
    }
    #carouselExampleControls2{
        
        padding-right: 0; 
        max-width: 350px;
    }
    #carouselExampleControls{
        width: 100%;
        margin-left: 20px;
        margin-right: 20px;
    }
    .div_estamos_proximos{
        margin-right: 20px;
        max-width: 350px;
        margin-left: 20px;
    }
    .div_imagem_localizacao{
        width: 100%;
        margin-left: 20px;
        margin-right: 20px;
    }
    .secoes-pag2-texto-imagem p{
        max-width: 350px;
        align-items: center;
    }
    .texto_demeter_pag2{
        width: 100%;
        padding-top: 0;
        align-items: center;
    }
    .plantas_expe{
        padding-left: 0;
        padding-right: 0;
        max-width: 350px;
    }
    .diferenciais_section{
        max-width: 350px;
    }
    main{
        align-items: center;
    }
    .entre_em_contato{
        width: 100%;
    }
    .texto_h2{
        margin-left: 20px;
        margin-right: 20px;
    }
    .plantas_textoeimagem{
        padding-right: 20px;
        padding-left: 20px;
    }
}
@media(max-width: 620px){
    .conteudo_pagina_parceiros{
        max-width: 310px;
        text-align: left;
        align-items: center;
        margin: 0 auto;
    }
}
